*
{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

@font-face
{
    font-family: "Georgia";
    src: url("../fonts/georgia.ttf") format('ttf');
    font-style: italic;
    font-weight: 500;
}

.main_container
{
    max-width: 1000px;
    margin: 0 auto 50px;
}

.main_image
{
    display: block;
    width: 330px;
    height: 350px;
    border-radius: 10px;
}

.quote_text
{

    font-size: 28px;
    font-family: "Georgia";
    color: #fff;
    font-style: italic;
    line-height: 1.5;
    text-align: left;
}

.author_name
{
    margin: 12px 0 0 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 600;
    text-align: left;
}

.left_part
{
    float: left;
    width: 410px;
}

.right_part
{
    float: left;
    width: 590px;
}

.image_block
{
    margin: 0 0 45px 29px;
}

.preferences_block
{
    margin: 0 0 0 30px;
}

.quote_block
{
    margin: 25px 0 51px 13px;
}

.info_block
{
    margin-left: 9px;
}

.preferences_title
{

    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    color: rgb(21, 169, 140);
    font-weight: 600;
    line-height: 1.333;
    text-align: left;
}

.preferences_text_hobby
{
    margin: 14px 0 41px 0;
    font-size: 19px;
    font-family: "Georgia";
    color: rgb(85, 85, 85);
    line-height: 1.895;
    text-align: left;
    padding-left: 20px;
}

.preferences_text_films
{
    margin: 13px 0 0 -2px;
    font-size: 19px;
    font-family: "Georgia";
    color: rgb(85, 85, 85);
    line-height: 1.895;
    text-align: left;
    padding-left: 20px;
}

.name_text
{
    font-size: 48px;
    font-family: "Open Sans", sans-serif;
    color: rgb(51, 51, 51);
    font-weight: 600;
    line-height: 0.875;
    text-align: left;
}

.line_separator
{
    margin: 32px 0 44px 0;
    border-bottom: 6px solid #45c3aa;
    border-radius: 5px;
    width: 60px;
}

.about_me
{
    font-size: 19px;
    font-family: "Georgia";
    color: rgb(85, 85, 85);
    line-height: 1.684;
    text-align: left;
}

.hobby_title
{
    margin: 47px 0 27px -2px;
    font-size: 36px;
    font-family: "Open Sans";
    color: rgb(51, 51, 51);
    line-height: 1.167;
    text-align: left;
    font-weight: 400;
}

.hobby_text
{
    margin-top: -13px;
    margin-bottom: 42px;
    font-size: 19px;
    font-family: "Georgia";
    color: rgb(85, 85, 85);
    line-height: 1.684;
    text-align: left;
}

.link_text
{
    text-decoration: none;
    font-size: 19px;
    font-family: "Georgia";
    color: rgb(21, 169, 139);
    line-height: 1.684;
    text-align: left;
}

.arrow
{
    text-decoration: none;
    font-size: 19px;
    font-family: "Georgia";
    color: rgb(21, 169, 139);
    line-height: 1.684;
    text-align: left;
}

.link_text_decoration
{
    text-decoration: underline;
    font-size: 19px;
    font-family: "Georgia";
    color: rgb(21, 169, 139);
    line-height: 1.684;
    text-align: left;
}

.clear
{
    clear: both;
}

.quotes_image_block
{
    padding-top: 210px;
    background: no-repeat;
    background-image: url("../images/quote_image.png");
}

.main_menu
{
    max-width: 1000px;
    margin: 0 auto;
}

.menu_button
{
    font-size: 19px;
    font-family: "Georgia";
    text-align: center;
    color: #000;
    text-decoration: none;
    user-select: none;
    background: #fff;
    display: inline-block;
    list-style-type: none
}

.menu_unit
{
    display: inline-block;
    position: relative;
}

.menu_button:hover
{
    color: #fff;
    background: #128b73;
}

.menu_button:active
{
    color: #000;
    background: #f5f5f5;
}

.menu_button.about_me_button
{
    margin-left: 28px;
    padding: 14px 22px;
}

.about_me_picture
{
    margin-right: 4px;
}

.hobby_picture
{
    margin-right: 2px;
}

.films_picture
{
    margin-right: 4px;
}

.menu_button.hobby_button
{
    margin-left: 1px;
    padding: 14px 22px;
}

.menu_button.films_button
{
    margin-left: -4px;
    padding: 14px 22px;
}

.films_container
{
    width: 1200px;
    margin: 0 auto;
    font-size: 0;
}

.films_title
{
    font-size: 36px;
    font-family: "Open Sans";
    color: rgb(51, 51, 51);
    text-align: left;
    margin: 88px 0 30px 0;
    font-weight: 400;
}

.films_block
{
    vertical-align: top;
    display: inline-block;
    width: 285px;
    margin: 7px 20px 60px 0;
}

.film_picture
{
    border-radius: 4px;
    width: 285px;
    height: 190px;
    margin-bottom: 18px;
}

.film_title
{
    font-size: 22px;
    font-family: "Open Sans";
    color: rgb(51, 51, 51);
    font-weight: bold;
}

.right_block
{
    margin: 7px 0 60px 0;
}

.film_text
{
    margin-top: 19px;
    font-size: 16px;
    font-family: "Georgia";
    color: rgb(85, 85, 85);
    line-height: 1.75;
    text-align: left;
}

.all_films_button
{
    border-radius: 5px;
    margin: 0 0 70px 489px;
    padding: 14px 55px;
    color: #f5f5f5;
    text-decoration: none;
    user-select: none;
    background: #15a98c;
    font-size: 19px;
    font-family: "Georgia";
    line-height: 1.684;
}

.all_films_button:hover
{
    background: #44a9a1;
}

.all_films_button:active
{
    background: #15a98c;
}

.footer
{
    text-align: center;
    padding: 18px 0;
    margin: 50px 5px 0 0;
    background: #f9f9f9;
}

.footer_text
{
    font-size: 16px;
    font-family: "Georgia";
    color: rgb(85, 85, 85);
    line-height: 2;
}

.form
{
    width: 800px;
    margin: 0 auto;
}

.form_title
{
    margin: 115px 0 68px 4px;
    text-align: center;
}

.form_title_text
{
    font-size: 36px;
    font-family: "Open Sans";
    color: rgb(51, 51, 51);
    line-height: 1.167;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
}

.form_separator
{
    border-bottom: 2px solid #c4c4c4;
    width: 200px;
    margin: 0 22px 12px 22px;
    display: inline-block;
}

.form_elements
{
    width: 450px;
    margin: 0 auto;
}

.form_placeholder
{
    margin: 0 0 22px -37px;
}

.form_subtitle_text
{
    font-size: 20px;
    font-family: "Open Sans";
    color: rgb(51, 51, 51);
    line-height: 1.6;
    text-align: center;
}

.required_field
{
    color: #f34949;
}

.required_input
{
    width: 100%;
    margin-top: 4px;
    display: block;
    padding: 7px 25px;
    border: 2px solid #c9c9c9;
    border-radius: .25rem;
    font-size: 18px;
    font-family: "Open Sans";
    color: rgb(51, 51, 51);
    line-height: 1.778;
    text-align: left;
    transition-duration: 0.5s;
}

.required_input:hover
{
    border: 2px solid #a6a6a6;
}

.required_input:focus
{
    border: 2px solid #15a98c;
}

.select_arrow
{
    margin: 20px 0 0 494px;
    position: absolute;
    width: 28px;
    height: 28px;
    background: url('../images/arrow_down.png') right center transparent no-repeat;
    z-index: 1;
    pointer-events: none;
}

.user_country
{
    -webkit-appearance: none;
    width: 540px;
    margin-top: 6px;
    display: block;
    padding: 8px 0 8px 17px;
    border: 2px solid #c9c9c9;
    border-radius: .25rem;
    font-size: 18px;
    font-family: "Open Sans";
    color: rgb(51, 51, 51);
    line-height: 1.778;
    text-align: left;
    transition-duration: 0.5s;
}

.user_country:hover
{
    border: 2px solid #a6a6a6;
}

.user_country:focus
{
    border: 2px solid #15a98c;
}

.form_placeholder_gender
{
    margin: 40px 0 36px -37px;
}

.gender_buttons
{
    margin: 4px 0 0 0;
}

.gender_button
{
    margin-top: 4px;
    display: inline-block;
}

.gender_text
{
    margin: 0 36px 0 9px;
    font-size: 18px;
    font-family: "Open Sans";
    color: rgb(51, 51, 51);
    line-height: 1.778;
}

.message_field
{
    width: 100%;
    margin-top: 4px;
    display: block;
    padding: 7px 25px 74px 25px;
    border: 2px solid #c9c9c9;
    border-radius: .25rem;
    font-size: 18px;
    font-family: "Open Sans";
    color: rgb(51, 51, 51);
    line-height: 1.778;
    text-align: left;
    word-wrap: break-word;
    resize: none;
    transition-duration: 0.5s;
}

.message_field:hover
{
    border: 2px solid #a6a6a6;
}

.message_field:focus
{
    border: 2px solid #15a98c;
}

.send_button
{
    border-radius: 5px;
    margin: 0 0 0 -36px;
    padding: 9px 62px;
    color: #f5f5f5;
    text-decoration: none;
    user-select: none;
    background: #15a98c;
    font-size: 19px;
    font-family: "Georgia";
    line-height: 1.684;
}

.send_button:hover
{
    background: #44a9a1;
}

.send_buttonn:active
{
    background: #15a98c;
}

.form_placeholder_message
{
    margin: 0 0 51px -37px;
}